<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.2.14.0.js'><\/script>".replace("HOST", location.hostname));
  //]]></script>
</html>
